
<div class="pokemon-card">

    <div class="pokemon-card_ _image">

    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/1.svg" alt="pokemon image">

    </div>

<div class="pokemon-card_ _number">
    Nº 001
</div>

<div class="pokemon-card_ _name">
    Bulbasaur
</div>

<div class="pokemon-card_ _type">

<div class="pokemon-card_ _type pokemon-card_ _type--Grass">Grass</div>
<div class="pokemon-card_ _type pokemon-card_ _type--Poison">Poison</div>

</div>
 
</div>